.img_wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin: 15px 0;
  font-size: 1.5rem;
}

.form_images {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

#fileInput {
  margin: 15px auto;
  padding: 10px;
  box-shadow: 0 0 10px #3333;
  border-radius: 0.75rem;
  cursor: pointer;
  width: 100%;
}

.images_thumbs {
  height: 100%;
  width: 100%;
}

button.btn {
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 0.75rem;
  background-color: rgba(245, 47, 87, 0.8);
  font-weight: 600;
}

.submit_pic_btn {
  display: flex;
  width: 100%;
  justify-content: center;
}

.extra_files {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.extra_files + label {
  margin: 10px 0;
  font-size: 1.25em;
  font-weight: 700;
  display: inline-block;
  width: 40%;
  padding-bottom: 20%;
  cursor: pointer;
  align-self: center;
  justify-self: center;
  padding: 10px;
}

.extra_files:focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
  background-color: #ffdb58;
}
.extra_files + label:hover {
  background-color: #ffdb58;
}

.image_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0 10px;
  height: 100%;
  width: 100%;
  padding: 20px;
}

.pics {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  align-self: center;
  justify-self: center;
}

@media screen and (min-width: 720px) {
  .extra_files + label {
    width: 20%;
  }
}
