@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
}

ol,
ul {
  list-style: circle;
}

html,
body {
  height: 100%;
  font-family: "Nunito", sans-serif;
}

input,
button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.router {
  height: 100vh;
}
