.landing_wrapper {
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: space-around;
  height: 100%;
}

.title_wrapper {
  text-align: center;
  margin-top: 30px;
  font-size: 1rem;
}

.explanation {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.get_started {
  text-align: center;
}

.get_started_title {
  margin-bottom: 10px;
}

.get_started_btn {
  display: flex;
  justify-content: space-around;
}

.get_started_btn button {
  box-shadow: 0 0 10px #3333;
  padding: 10px;
  border-radius: 0.75rem;
  background-color: rgba(245, 47, 87, 0.8);
  font-weight: 600;
}